
body ::after{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    display: table;
    clear: both;


}


section .secl {
   width: 100%;
   height: 100vh;
   box-sizing: border-box;
   background-size: cover;
}

nav  {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    padding: 0% 100px;
    box-sizing: border-box;
}
nav .logo {
    float: left;
    height: 90px;
    line-height: 70px;
}
nav .logo h2 {
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
    padding: 0%;
    margin: 0;
    float: right;
    display: flex;
}
nav ul li {
    list-style: none;
}

ul {
    overflow: hidden;
}
nav ul li a {
    position: relative;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
    padding: 0 70px;
    transition: .5s;
}
nav ul li a:hover{
    color: black;
}
nav ul li a:before{
    top: 0%;
    left: 0%;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:aliceblue;
    transform-origin: right;
    transform: scaleX(0);
    transform: transform .5s;
}
nav ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1);
    opacity: 25%;
    
}
nav ul li a ::after{
    background-color: aliceblue;
}
.logo img {
    float: left;
    width: 80px;
    height: 80px;
}
#head {
    position: relative;
    height: 800px;
    width: 100%;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-color: transparent;
    background-size: cover;
     background-image: url(./background.jfif)  ;

}
.titre1, .titre2 {
    position: absolute;
    text-align: center;
    
  }
.titre1 {
    text-align: center;
    font-family:  Georgia, serif;
    color: rgb(1, 6, 10);   
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px; 
}
.titre2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
    top: 50%;
      left:50%;
      transform: translateX(-50%);
      font-size: 28px; 
} 
.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .text-container1 {
    max-width: 60%;
    border: 2px solid #a19d9d; 
    padding: 10px; 
    margin-right: 20px; 
    background-color:#eaeff6;
  }

  .text1 {
    font-size: 20px;
    color: #083a4a;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .small-text1 {
    font-size: 14px;
    color: #555;
    font-family:cursive;

  }

  .image-container1 {
    max-width: 40%;
  }

  .Mimg1 {
    max-width: 60%;
    height: auto;
    display: block;
  }
  .container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .image-container2{
    max-width: 30%;
    padding: 10px; 
  }

  .Mimg2 {
    max-width: 80%;
    height: auto;
    display: block;
  }

  .text-container2 {
    border: 2px solid #a19d9d;
    max-width: 60%;
    padding: 10px; 
    margin-right: 250px;
    background-color: #eaeff6;
  }

  .text2 {
    font-size: 20px;
    margin-bottom: 10px;
   color: #083a4a;
    font-family: 
'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .small-text2 {
    font-size: 14px;
    color: #555;
    font-family: cursive;
  }
  .Mimg3 {
    max-width: 80%;
    height: 10%;
    display: block;
  }
  .Mimg4 {
    max-width: 90%;
    height: 10%;
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .image-container {
    width: 40%;
    text-align: center;
    overflow: hidden; 
    margin-right: 60px;
    border-color: #11566e;

  }

  .guide {
    max-width: 50%;
    height: 50%;
    width: 60%;
    display: block;
    margin-bottom: 20px; 
    border-radius: 40% 0%;
    border: solid goldenrod;
   
  }

 #guide1{
  margin-left: 30%;
 }
 #guide2{
  margin-right: 0px;
  margin-left: 30%;
 }
  .image-text {
    font-size: 14px;
    color: #555;
    text-align: center;
    padding: 20px;
    margin: auto;
    border: double grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;

  }
  .form-container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #11566e;
    color: white;
    padding: 10px 15px;
    border: solid;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
    text-size-adjust: 15px;
}

.form-container button:hover {
    background-color: #45a049;
}
.contact {
  padding: 15px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
  background-color: #57a5bf;
  width: auto;
  height: 70px;
  position: relative;
  padding: 40px;

}
.fot{
   color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  text-align: end;
  transform: translateX(-50%);
  text-align: right;
  }

  
